.HomePage1{
    text-align: left;
    width: 40px;
    padding-left: 100px;
}


.formStyle1{
    border: 10px double grey;
    background-color: yellow;
    align-items: center;
    width: 700px;
    margin-left: 800px;
  
}


.hidden{
    visibility:hidden;
 }

 button{
     align-items: flex-end;
 }

label{
    color: red;
    font-size: 20px;
}

td {
    align-items: left;
    font-style: italic;
    font-family:revert;
    border: 2px solid black;
    border-collapse: collapse;
  }

#customerIdlabel{
    font-size: small;
    color: black;
    left: 450px;
    background: rgb(225, 175, 175);
    border-radius: 5px;
    position: relative;
}
